# Set the default behaviour, in case people don't have core.autocrlf set
* text=autocrlf

# Declare files that will always have LF line endings on checkout
*.sh text eol=lf
*.mod text eol=lf
*.go text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.tf text eol=lf
